snippet vue "component template" b
<template>
	<div>
		${1:Template}
	</div>
</template>

<script>
export default {
	data() {
		return {
			${2: }
		}
	},
	methods: {
			$0	
		}
}
</script>

<style>

</style>
endsnippet

