snippet h1 "desc" b
	= =========================================/${0:Title}/====================================== =
endsnippet

snippet h2 "desc" b
	== =======================/${0:Title}/====================== ==
endsnippet


snippet h3 "desc" b
	=== =====/${0:Title}/====== ===
endsnippet
